<p>app-home-page {{ count }}</p>

<mat-form-field class="full-width">
    <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        required
    />
    <!-- <mat-error *ngFor="let validation of account_validation_messages.password">
      <mat-error class="error-message" *ngIf="accountDetailsForm.get('matching_passwords').get('password').hasError(validation.type) && (accountDetailsForm.get('matching_passwords').get('password').dirty || accountDetailsForm.get('matching_passwords').get('password').touched)">{{validation.message}}</mat-error>
    </mat-error> -->
</mat-form-field>
<button class="btn bg-danger" (click)="demo()">
    demo
</button>
<ul>
    <li>
        <a [routerLink]="['./home2']" routerLinkActive="router-link-active"
            >go to home2</a
        >
    </li>
</ul>
<!-- <app-demo-validation></app-demo-validation> -->

<button class="btn btn-sm btn-outline-primary" (click)="open('modal1')">
    Open My Modal
</button>

<displayModals
    [name]="nameMOdal"
    (close)="close($event)"
    [data]="{ user: 'asd' }"
    [events]="eventsSubject.asObservable()"
></displayModals>

<button class="btn btn-sm btn-danger" (click)="showAlert()">alert</button>
