<mat-form-field class="full-width">
    <mat-select placeholder="Gender">
        <mat-option *ngFor="let gender of genders" [value]="gender">
            {{ gender }}
        </mat-option>
    </mat-select>
    <mat-error gender>
        <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('gender').hasError(validation.type) && (userDetailsForm.get('gender').dirty || userDetailsForm.get('gender').touched)">{{validation.message}}</mat-error> -->
    </mat-error>
</mat-form-field>
