<!-- <ng-template #mymodal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Here I am!
    </div>
    <div class="modal-footer">
        <button
            type="button"
            (click)="modal.close('Save click')"
            class="btn btn-outline-dark"
        >
            Ok
        </button>
    </div>
</ng-template> -->

<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Validation demo</h4>
    <button type="button" class="close" aria-label="Close" (click)="passBack()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
      
          <div class="col-2">
            <div class="user-details-container">
              <img class="user-image" src="https://randomuser.me/api/portraits/lego/3.jpg"/>
              <span class="user-title">{{userDetailsForm.get('fullname').value}}</span>
              <p class="user-bio">{{userDetailsForm.get('bio').value}}</p>
            </div>
          </div>
      
          <div class="col">
            <h2 class="section-title">User details</h2>
            <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">
              <mat-form-field class="full-width">
                <input matInput placeholder="Full Name" formControlName="fullname" required>
                <mat-error *ngFor="let validation of validation_messages.fullname">
                  <mat-error class="error-message" *ngIf="userDetailsForm.get('fullname').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
      
      
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" placeholder="Your birthday" formControlName="birthday" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngFor="let validation of validation_messages.birthday">
                  <mat-error class="error-message" *ngIf="userDetailsForm.get('birthday').hasError(validation.type) && (userDetailsForm.get('birthday').dirty || userDetailsForm.get('birthday').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
      
      
              <mat-form-field class="full-width">
                <mat-select placeholder="Gender">
                  <mat-option *ngFor="let gender of genders" [value]="gender">
                    {{ gender }}
                  </mat-option>
                </mat-select>
                <mat-error *ngFor="let validation of validation_messages.gender">
                  <mat-error class="error-message" *ngIf="userDetailsForm.get('gender').hasError(validation.type) && (userDetailsForm.get('gender').dirty || userDetailsForm.get('gender').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
      
      
              <div formGroupName="country_phone" class="row">
                <mat-form-field class="full-width col-4">
                  <mat-select formControlName="country" placeholder="Country">
                    <mat-option *ngFor="let country of countries" [value]="country">
                      {{ country.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width col-8">
                  <input matInput placeholder="Phone" type="tel" formControlName="phone" required>
                  <mat-hint align="start"><strong>Mobile:</strong> {{ userDetailsForm.value.country_phone.country.sampleMobilePhone }}</mat-hint>
                  <mat-hint align="end"><strong>Fixed:</strong> {{ userDetailsForm.value.country_phone.country.sampleFixedPhone }}</mat-hint>
                  <mat-error *ngFor="let validation of validation_messages.phone">
                    <mat-error class="error-message" class="error-message" *ngIf="userDetailsForm.get('country_phone').get('phone').hasError(validation.type) && (userDetailsForm.get('country_phone').get('phone').dirty || userDetailsForm.get('country_phone').get('phone').touched)">
                      {{ validation.message }}
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
      
              <mat-form-field class="full-width">
                <textarea matInput maxlength="256" placeholder="Bio" formControlName="bio" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                <mat-hint align="start">Tell us about yourself</mat-hint>
                <mat-hint align="end">{{userDetailsForm.get('bio').value.length}} / 256</mat-hint>
                <mat-error *ngFor="let validation of validation_messages.bio">
                  <mat-error class="error-message" *ngIf="userDetailsForm.get('bio').hasError(validation.type) && (userDetailsForm.get('bio').dirty || userDetailsForm.get('bio').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
      
      
      
              <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!userDetailsForm.valid">
                Submit
              </button>
      
            </form>
          </div>
      
 <div class="col">
            <h2 class="section-title">Account details</h2>
      
            <form [formGroup]="accountDetailsForm" novalidate (ngSubmit)="onSubmitAccountDetails(accountDetailsForm.value)">
      
              <mat-form-field class="full-width">
                <input matInput maxlength="25" placeholder="Username" formControlName="username" required>
                <mat-error *ngFor="let validation of account_validation_messages.username">
                  <mat-error class="error-message" *ngIf="accountDetailsForm.get('username').hasError(validation.type) && (accountDetailsForm.get('username').dirty || accountDetailsForm.get('username').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
      
              <mat-form-field class="full-width">
                <input matInput type="email" placeholder="Email" formControlName="email" required>
                <mat-error *ngFor="let validation of account_validation_messages.email">
                  <mat-error class="error-message" *ngIf="accountDetailsForm.get('email').hasError(validation.type) && (accountDetailsForm.get('email').dirty || accountDetailsForm.get('email').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
      
      
              <div formGroupName="matching_passwords">
                <mat-form-field class="full-width">
                  <input matInput type="password" placeholder="Password" formControlName="password" required>
                  <mat-error *ngFor="let validation of account_validation_messages.password">
                    <mat-error class="error-message" *ngIf="accountDetailsForm.get('matching_passwords').get('password').hasError(validation.type) && (accountDetailsForm.get('matching_passwords').get('password').dirty || accountDetailsForm.get('matching_passwords').get('password').touched)">{{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
      
                <mat-form-field class="full-width">
                  <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password"  [errorStateMatcher]="parentErrorStateMatcher" required>
                  <mat-error *ngFor="let validation of account_validation_messages.confirm_password">
                    <mat-error class="error-message" *ngIf="(accountDetailsForm.get('matching_passwords').get('confirm_password').hasError(validation.type)|| accountDetailsForm.get('matching_passwords').hasError(validation.type)) && (accountDetailsForm.get('matching_passwords').get('confirm_password').dirty || accountDetailsForm.get('matching_passwords').get('confirm_password').touched)">{{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
      
              </div>
      
              <mat-checkbox formControlName="terms">
                I accept terms and conditions
              </mat-checkbox>
              <mat-error *ngFor="let validation of account_validation_messages.terms">
                <mat-error class="error-message" *ngIf="accountDetailsForm.get('terms').hasError(validation.type) && (accountDetailsForm.get('terms').dirty || accountDetailsForm.get('terms').touched)">{{validation.message}}</mat-error>
              </mat-error>
      
              <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!accountDetailsForm.valid">
                Submit
              </button>
      
            </form>
      
          </div> 
        </div>
      </div>
      
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="passBack()">
        Ok
    </button>
</div>

<select-Gender></select-Gender>
